.recent-post {
    .recent-post_title a {
        color: $color-gray-one;
    }
    
    // .recent-post_topics {
        
    // }
}

.post-topic {
    color: $color-gray-two;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin-right: 8px;
}

.post-link {
    .post-link_box {

    }
    .post-link_link {

    }
}